body {
  background: #000;
}

.flask {
  width: 300px;
  height: 300px;
  border: 4px solid #000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  background: #3ABFF2;
  box-shadow: 0 0 0 4px #fff;
}
.flask:before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 60px;
  top: -129px;
  background: #3ABFF2;
  border: 4px solid #000;
  border-top-width: 74px;
  border-bottom: none;
  border-radius: 40px 40px 0 0/10px 10px 0 0;
  box-shadow: -2px -4px 0 2px #fff, 2px -4px 0 2px #fff;
}
.flask:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 120px;
  height: 40px;
  border: 4px solid #fff;
  top: -147px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.walter {
  position: relative;
  width: 150px;
  height: 180px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.walter__hat {
  width: 210px;
  height: 85px;
  background: #000;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 50%;
}
.walter__hat:before {
  position: absolute;
  content: "";
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: #3ABFF2;
  height: 55px;
  bottom: 0px;
  border-radius: 35px 35px 0 0;
}
.walter__hat:after {
  position: absolute;
  content: "";
  width: 140px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  height: 55px;
  top: -40px;
  border-radius: 35px 35px 0 0;
}

.walter__glass {
  width: 60px;
  height: 55px;
  background: #000;
  position: absolute;
  top: 80px;
  border-radius: 20px 20px 25px 25px/10px 10px 50px 50px;
  left: 9px;
  box-shadow: 70px 0 0 0 #000;
}
.walter__glass:before {
  content: "";
  position: absolute;
  top: 6px;
  border-top: 12px solid #000;
  width: 20px;
  right: -15px;
}
.walter__glass:after {
  content: "";
  position: absolute;
  top: 16px;
  border: 5px solid transparent;
  border-top: 5px solid #000;
  width: 30px;
  height: 95px;
  right: -25px;
  border-radius: 50%;
}

.walter__goatee {
  width: 55px;
  height: 45px;
  top: 155px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-style: solid;
  border-color: #000;
  border-width: 5px;
  border-radius: 25px/10px;
  box-shadow: 0 5px 0 0 #000, 0 -15px 0 0 #000;
}
.walter__goatee:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 25px;
  height: 30px;
  background: #000;
  border-radius: 25px 25px 0 0/10px;
}

.bubble {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  position: absolute;
  border-radius: 50%;
  left: 40px;
  top: calc(50% + 25px);
  box-shadow: -15px -55px 0 -8px #3ABFF2, -15px -55px 0 -7px #000, 5px -35px 0 -14px #3ABFF2, 5px -35px 0 -13px #000, 205px -35px 0 -8px #3ABFF2, 205px -35px 0 -7px #000, 175px -15px 0 -16px #3ABFF2, 175px -15px 0 -15px #000, 170px 15px 0 -16px #3ABFF2, 170px 15px 0 -15px #000, 80px -205px 0 -8px #3ABFF2, 80px -205px 0 -7px #000, 95px -225px 0 -16px #3ABFF2, 95px -225px 0 -15px #000, 105px -205px 0 -17px #3ABFF2, 105px -205px 0 -16px #000;
}