@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap');
bodycinta {
    margin: 0;
    padding: 0;
    /* 
  background: url(somePicture.jpg);
  background-size: cover;
  ***remove background color when using this part if you want***
  */
    font-family: 'Poppins', sans-serif;
    background: pink;
}

sectioncinta {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

sectioncinta .scroll {
    width: 100%;
    display: flex;
}

sectioncinta .scroll div {
    color: #000;
    font-size: 4em;
    background: yellow;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
}

sectioncinta .scroll div:nth-child(2) {
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}

sectioncinta .scroll div span {
    -webkit-text-stroke: 2px #000;
    color: transparent;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

sectioncinta .scroll.text1 {
    transform: rotate(30deg) translateY(200px) translateX(-200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    width: 100%;
}