html {
    height: 100%;
}

.container {
    background-color: #fff;
    bottom: 10%;
    left: 10%;
    position: absolute;
    right: 10%;
    top: 10%;
}

.hand {
    animation: swipe 1s ease-in-out infinite;
    color: #000;
    font-size: 100px;
    height: 100px;
    left: calc(50% - 50px);
    opacity: .5;
    position: absolute;
    top: calc(50% - 50px);
    transform-origin: bottom;
    width: 100px;
}

@keyframes swipe {
    0% {
        transform: translate(-100%) rotate(-15deg);
    }
    100% {
        transform: translate(100%) rotate(0deg);
    }
}