:root {
  --duration: .3s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

header, footer {
  display: flex;
  align-items: center;
  background: black;
  color: white;
  padding: 0.5rem 11px 0.5rem 0;
  position: fixed;
  width: 100%;
}

header {
  top: 0;
  z-index: 1;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}
header img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}
header span {
  color: #8F5EEC;
  margin-left: 0.4rem;
}

footer {
  bottom: 0;
  justify-content: space-between;
}
footer a {
  text-decoration: none;
}

/* ---------------------------------- */
.slides {
  animation: fade-in var(--duration) linear var(--duration) both;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
.slides[data-js-initialized] {
  display: grid;
  grid-template: 1/1/1/1;
}
.slides[data-js-initialized] > * {
  grid-area: 1/1;
}

.slide {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  padding: 46px 0 4px;
}
@media (max-width: 800px) {
  .slide {
    display: block;
  }
  .slide .title,
.slide .desc {
    margin: 1rem;
  }
}
.slide .title,
.slide .desc {
  margin: 2rem;
  padding: 0;
}
.slide .title {
  grid-area: title;
  font-weight: 900;
  font-size: 3.2rem;
  letter-spacing: -2px;
  line-height: 1.1;
}
.slide .title span {
  color: #975BF4;
}
@media (max-width: 800px) {
  .slide .title {
    font-size: 2.5rem;
  }
}
.slide .desc {
  grid-area: desc;
  font-size: 1.4rem;
  font-weight: 300;
}
.slide .desc p {
  margin: 0 0 1rem 0;
}
.slide .desc a {
  color: #975BF4;
}
.slide .desc a:hover, .slide .desc a:focus {
  color: #5100b0;
}
.slide .img {
  grid-area: img;
  align-self: end;
}
.slide.large .title {
  font-size: 5rem;
}
@media (max-width: 800px) {
  .slide.large .title {
    font-size: 3rem;
  }
}

.layout-1 {
  grid-template-areas: "desc title" "desc img";
}

.layout-2 {
  grid-template-areas: "img title" "img desc";
}

.layout-3 {
  grid-template-areas: "title img" "desc  img";
}

.layout-4 {
  grid-template-areas: "title desc" "img   img";
}

.layout-5 {
  grid-template-areas: "img title" "desc   desc";
}

img, video {
  max-width: 100%;
}

p {
  max-width: 900px;
}

/* ---------------------------------- */
.pagination-button {
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 4px;
  background: #444857;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.pagination-button:hover, .pagination-button:focus {
  background: #66bb6a;
}

.footer-jump {
  display: inline-block;
  padding: 0.2em 0.25em;
  color: white;
  font-size: 16px;
  font-family: monospace;
  opacity: 0.6;
  transform: scale(0.8);
  transition: var(--duration) linear;
}
@media (max-width: 800px) {
  .footer-jump {
    padding: 0.2rem 0.1rem;
  }
}
@media (max-width: 400px) {
  .footer-jump {
    display: none;
  }
}
.footer-jump:hover, .footer-jump:focus {
  opacity: 0.9;
}
.footer-jump[data-active] {
  opacity: 1;
  transform: scale(1);
}

/* ---------------------------------- */
.slide {
  transition: visibility 0s linear;
}

.panel {
  transition: all var(--duration) cubic-bezier(0.8, 0, 0.2, 1) var(--duration);
}

.slide[hidden] {
  z-index: -1;
  display: grid;
  visibility: hidden;
  pointer-events: none;
  max-height: 100vh;
  overflow: hidden;
  transition-delay: var(--duration);
}
@media (max-width: 800px) {
  .slide[hidden] {
    display: block;
  }
}
.slide[hidden] .panel {
  opacity: 0;
  transition-delay: 0s;
}
.slide[hidden] .img {
  transform: translateY(100px);
}
.slide[hidden] .title {
  transform: translateY(-100px);
}
.slide[hidden] .desc {
  transform: translateX(-100px);
}

html {
  --scrollbarBG: black;
  --thumbBG: #90A4AE;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  border-left: 11px solid black;
  min-height: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* ---------------------------------- */
.twitter-tweet {
  margin: 0 auto;
}