* {
  box-sizing: border-box;
}

html {
  background-color: #333;
  min-height: 100vh;
}

.scene {
  position: absolute;
  width: 640px;
  height: 360px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.layer-1 {
  z-index: 10;
}
.layer-2 {
  z-index: 5;
}
.layer-3 {
  z-index: 1;
}
.layer div {
  position: absolute;
}

/*
*   .layer-1 styles START
*/
.desk {
  width: 100%;
  height: 2%;
  background-color: #957c43;
  bottom: 0;
  z-index: 10;
}

.plant {
  width: 12%;
  bottom: 2%;
  left: 1%;
  height: 50%;
  z-index: 5;
}
.plant:before {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  z-index: 5;
  background: #fff;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: inset 5px 0px 0px #fff;
  -webkit-animation: flicker-on-shadow 1s forwards;
          animation: flicker-on-shadow 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.plant-stalk {
  width: 8%;
  height: 100%;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #21bf21;
  border-radius: 4px;
}
.plant-leaf {
  width: 100%;
  height: 20%;
  top: 40%;
}
.plant-leaf:before, .plant-leaf:after {
  content: "";
  display: block;
  height: 100%;
  width: 48%;
  position: absolute;
  background-color: #21bf21;
}
.plant-leaf:before {
  left: 0;
  border-bottom-left-radius: 90%;
  border-top-right-radius: 90%;
  top: 30%;
  transform-origin: 100% 100%;
  -webkit-animation: leaf-dance 3s ease-in-out infinite;
          animation: leaf-dance 3s ease-in-out infinite;
}
.plant-leaf:after {
  right: 0;
  border-bottom-right-radius: 90%;
  border-top-left-radius: 90%;
  top: -30%;
  transform-origin: 0 100%;
  -webkit-animation: leaf-dance-reverse 3s ease-in-out infinite;
          animation: leaf-dance-reverse 3s ease-in-out infinite;
}
.plant-leaf + .plant-leaf {
  top: 10%;
}

.lamp {
  width: 30%;
  height: 80%;
  bottom: 2%;
  right: 0;
  z-index: 5;
}
.lamp-base {
  width: 60%;
  height: 4%;
  bottom: 0;
  right: 0;
  background-color: #00a3f6;
  border-radius: 3px;
  z-index: 10;
}
.lamp-base:before, .lamp-base:after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: #fff;
}
.lamp-base:before {
  height: 80%;
  width: 75%;
  border-radius: 3px;
}
.lamp-base:after {
  height: 180%;
  width: 20%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.lamp-mid {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.lamp-mid:before, .lamp-mid:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
}
.lamp-mid:before {
  width: 5%;
  height: 50%;
  bottom: 47%;
  right: 3%;
  transform-origin: 50% 100%;
  transform: rotate(-48deg);
}
.lamp-mid:after {
  height: 50%;
  width: 5%;
  bottom: 1%;
  right: 32%;
  transform-origin: 50% 100%;
  transform: rotate(23deg);
}
.lamp-mid-knob {
  width: 12%;
  height: 8%;
  background-color: #fff;
  top: 50%;
  right: 0;
  border-radius: 50%;
}
.lamp-top {
  width: 16%;
  height: 10%;
  top: 16%;
  right: 44%;
  background-color: #00a3f6;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transform-origin: 50% 0;
  transform: rotate(42deg);
  z-index: 10;
}
.lamp-top:before, .lamp-top:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
.lamp-top:before {
  width: 300%;
  height: 150%;
  background-color: #00a3f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  top: 50%;
  left: -100%;
  right: -100%;
  z-index: 1;
}
.lamp-top:after {
  width: 340%;
  height: 30%;
  background-color: #fff;
  border-radius: 3px;
  top: 190%;
  left: -120%;
  z-index: 5;
}
.lamp-light {
  width: 120%;
  height: 70%;
  bottom: 0;
  background-color: #f8f8a9;
  opacity: 0;
  transform: rotate(-15deg);
  transform-origin: 100% 0;
  right: 20%;
  top: 33%;
  z-index: 1;
  -webkit-animation: flicker-on 1s forwards;
          animation: flicker-on 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.laptop {
  width: 35%;
  height: 45%;
  bottom: 2%;
  left: 25%;
  background-color: #a4a4a2;
  border-radius: 8px;
  z-index: 10;
}
.laptop:before, .laptop:after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
.laptop:before {
  height: 3px;
  width: 25%;
  top: 5%;
  background: linear-gradient(90deg, #52ab73 0%, #52ab73 25%, #d50f25 25%, #d50f25 50%, #eeb211 50%, #eeb211 75%, #3369e8 75%, #3369e8 100%);
}

.book {
  height: 4%;
  width: 15%;
  background-color: #fff;
  border: 3px solid #f00;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 2%;
  left: 64%;
  z-index: 5;
}
.book-1 {
  height: 1%;
  width: 15%;
  bottom: 6%;
  left: 65%;
  background-color: #00a3f6;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 5;
}
.book-2 {
  height: 4%;
  width: 15%;
  background-color: #fff;
  border: 3px solid #21bf21;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 7%;
  left: 63%;
  z-index: 5;
}

.coffee {
  width: 7%;
  height: 15%;
  bottom: 11%;
  left: 67%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: inset 5px 0px 0px #fff;
  z-index: 10;
  -webkit-animation: flicker-on-shadow 1s forwards;
          animation: flicker-on-shadow 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.coffee:before, .coffee:after {
  content: "";
  display: block;
  width: 10%;
  height: 25%;
  position: absolute;
  background-color: #fff;
  bottom: 110%;
  border-radius: 3px;
}
.coffee:before {
  left: 33%;
  -webkit-animation: steam 2.5s ease infinite;
          animation: steam 2.5s ease infinite;
}
.coffee:after {
  left: 66%;
  -webkit-animation: steam 3s ease infinite;
          animation: steam 3s ease infinite;
  bottom: 130%;
}
.coffee-handle {
  width: 40%;
  height: 50%;
  left: 85%;
  top: 25%;
  border: 3px solid #fff;
  border-radius: 15%;
  z-index: 1;
}
.coffee-brew {
  width: 75%;
  height: 8%;
  margin: auto;
  background-color: #471803;
  border-radius: 5px;
  top: 5%;
  left: 0;
  right: 0;
}

.glass {
  width: 8%;
  height: 20%;
  bottom: 2%;
  left: 15%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px 3px 40% 40%;
  z-index: 10;
}
.glass:before {
  content: "";
  display: block;
  height: 60%;
  width: 80%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 6%;
  background-color: #7fcbdd;
  border-radius: 0 0 60% 60%;
}

/*
*   .layer-1 styles END
*/
/*
*   .layer-2 styles START
*/
.self {
  width: 25%;
  height: 40%;
  left: 30%;
  bottom: 47%;
  background-color: #fff;
}
.self:after {
  content: "";
  display: block;
  width: 100%;
  height: 30%;
  background-color: #f00;
  position: absolute;
  bottom: -15%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.self-head {
  width: 50%;
  height: 70%;
  margin: auto;
  bottom: 13%;
  left: 0;
  right: 0;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 40% 60%;
  border-bottom-left-radius: 40% 60%;
  background-color: #957c43;
  z-index: 10;
}
.self-head:after {
  content: "";
  display: block;
  width: 110%;
  height: 70%;
  margin: auto;
  position: absolute;
  left: -100%;
  right: -100%;
  background-color: #4f4123;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 40% 60%;
  border-bottom-left-radius: 40% 60%;
  z-index: 1;
}

/*
*   .layer-2 styles END
*/
/*
*   .layer-3 styles START
*/
.painting {
  width: 13%;
  height: 28%;
  left: 10%;
  top: 5%;
  border: 6px solid #000;
  background-color: #eee;
  border-radius: 10px 0 10px 0;
}
.painting-inner {
  width: 50%;
  height: 40%;
  border-radius: 50%;
  background-color: #00a3f6;
  top: 10%;
  left: 10%;
  z-index: 10;
}
.painting-inner:before, .painting-inner:after {
  content: "";
  display: block;
  position: absolute;
}
.painting-inner:before {
  height: 0;
  width: 0;
  border-bottom: 32px solid yellow;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  top: 120%;
  left: 0%;
  z-index: 1;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.painting-inner:after {
  height: 160%;
  width: 80%;
  background-color: #f00;
  left: 80%;
  z-index: 5;
}

/*
*   .layer-3 styles END
*/
/*
*  animations
*/
@-webkit-keyframes flicker-on {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 0.7;
  }
  77% {
    opacity: 0;
  }
  78% {
    opacity: 0.8;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes flicker-on {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 0.7;
  }
  77% {
    opacity: 0;
  }
  78% {
    opacity: 0.8;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.7;
  }
}
@-webkit-keyframes flicker-on-shadow {
  0% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  49% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  50% {
    box-shadow: inset 5px 0px 0px #545454;
  }
  51% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  75% {
    box-shadow: inset 5px 0px 0px #545454;
  }
  77% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  78% {
    box-shadow: inset 5px 0px 0px #545454;
  }
  79% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  80% {
    box-shadow: inset 5px 0px 0px #545454;
  }
  100% {
    box-shadow: inset 5px 0px 0px #545454;
  }
}
@keyframes flicker-on-shadow {
  0% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  49% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  50% {
    box-shadow: inset 5px 0px 0px #545454;
  }
  51% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  75% {
    box-shadow: inset 5px 0px 0px #545454;
  }
  77% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  78% {
    box-shadow: inset 5px 0px 0px #545454;
  }
  79% {
    box-shadow: inset 5px 0px 0px #fff;
  }
  80% {
    box-shadow: inset 5px 0px 0px #545454;
  }
  100% {
    box-shadow: inset 5px 0px 0px #545454;
  }
}
@-webkit-keyframes leaf-dance {
  25% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes leaf-dance {
  25% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes leaf-dance-reverse {
  25% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes leaf-dance-reverse {
  25% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes steam {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes steam {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}